@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./markdown.css";
@import "../vendor/highlight/github.min.css";

/* Add your custom styles here */
.topnav {
	box-shadow: 0 2px 15px 0 rgba(0,0,0,0.5);
    overflow: visible;
    position: sticky; /* This makes the navbar persistent */
    width: 100%;
                height: 50px;
    top: 0;
                margin: 0;
                padding: 0;
                z-index: 300;
}

.topnav-left {
        float: left;
        padding: 10px 16px 14px 16px;
        margin-top: 0;
}

.topnav-left p {
        display: inline-block;
}

.topnav-right {
        float: right;
        padding: 10px 16px 14px 16px;
        margin-top: 0;
}

.topnav-right p {
        display: inline-block;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.main-content {
	margin-left: 250px;
	margin-bottom: 50px;
}

.sidebar {
	margin-top: 50px;
	width: 250px;
}

footer {
	text-align: center;
	padding: 10px;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.avatar {
	width: 150px;
	height: 150px;
	filter: invert(100%);
}

.markdown-body img {
	/* rounded corners */
	border-radius: 5px;
}

.iconlist li {
	float: left;
	width: 28px;
	height: 28px;
	display: inline;
	padding: 4px 4px;
}

#elixir-image {
	filter: grayscale(100%) invert(100%);
}
