@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./markdown.css";

/* Add your custom styles here */
.topnav {
	box-shadow: 0 2px 15px 0 rgba(0,0,0,0.5);
    overflow: visible;
    position: sticky; /* This makes the navbar persistent */
    width: 100%;
                height: 50px;
    top: 0;
                margin: 0;
                padding: 0;
                z-index: 300;
}

.topnav-left {
        float: left;
        padding: 10px 16px 14px 16px;
        margin-top: 0;
}

.topnav-left p {
        display: inline-block;
}

.topnav-right {
        float: right;
        padding: 10px 16px 14px 16px;
        margin-top: 0;
}

.topnav-right p {
        display: inline-block;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.main-content {
}
