<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ appTitle }}</title>
  <script src="{{ vendor "htmx" }}"></script>
  <script defer src="{{ vendor "alpine.js" }}"></script>

  <link
  href="{{ appCSS }}"
    rel="stylesheet"
  >
</head>
<body class="bg-gray-100 p-4">
  <div class="mx-auto max-w-md rounded-lg bg-white p-6 shadow">
	{{ template "title" }}

    <!-- HTMX Trigger Button -->
    <button
      class="rounded bg-blue-500 px-4 py-2 text-white hover:bg-blue-600"
      data-hx-get="/ping"
      data-hx-trigger="click"
      data-hx-target="#response"
      data-hx-swap="innerHTML">
      Ping
    </button>

    <!-- Container to display server response -->
    <div id="response" class="mt-4"></div>
  </div>
</body>
</html>
