  <div class="mx-auto max-w-md rounded-lg bg-white p-6 shadow">
	{{ template "title" }}

    <!-- HTMX Trigger Button -->
    <button
      class="rounded bg-blue-500 px-4 py-2 text-white hover:bg-blue-600"
      data-hx-get="/ping"
      data-hx-trigger="click"
      data-hx-target="#response"
      data-hx-swap="innerHTML">
      Ping
    </button>

    <!-- Container to display server response -->
    <div id="response" class="mt-4"></div>
  </div>
