<script>
	document.addEventListener('htmx:afterRequest', function(evt) {
		// Put the JS code that you want to execute here
		console.log('htmx:afterRequest', evt);
		if (evt.detail.target.id == 'response') {
			hljs.highlightAll();
		}
	});
</script>
<div id="response" class="max-w-full mx-auto bg-white rounded-lg shadow p-6" hx-trigger="load" hx-get="/api/pages/blog/index">
</div>
<h1 class="text-2xl font-semibold">
	Test!
</h1>
