<script>
	document.addEventListener('htmx:afterRequest', function(evt) {
		// Put the JS code that you want to execute here
		console.log('htmx:afterRequest', evt);
		if (evt.detail.target.id == 'response') {
			hljs.highlightAll();
		}
	});
</script>
<main id="response" class="max-w-full" data-hx-trigger="load" data-hx-get="/api/pages/blog/index">
</main>
