<div class="mx-auto max-w-md rounded-lg bg-white p-6 shadow">
	<h1 class="py-2 text-4xl font-semibold">{{ .Status }}</h1>
	<hr class="py-2">
	<p>{{ if .Message }}{{ .Message }}{{ else }}An error occured{{ end }}</p>
</div>
