# See https://github.com/cosmtrek/air/blob/master/air_example.toml
# for a full list of options and explanations of configuration options.
root = "."
tmp_dir = "tmp"

[build]
  bin = "./tmp/hubro"
  cmd = """
  go build -o ./tmp/hubro . &&
  bin/tailwindcss -c view/tailwind.config.js -i view/assets/css/app.css -o view/static/app.css &&
  bin/esbuild view/assets/js/app.js --target=es2017 --bundle --sourcemap --outfile=view/static/app.js
  """
  delay = 100
  include_ext = ["go", "gohtml", "json", "css", "js"]
  exclude_dir = ["tmp", "view/assets/vendor", "view/static", "bin"]
  exclude_regex = ["\\.?#.+", ".+~"]
  exclude_unchanged = false
  kill_delays = "0s"
  send_interrupt = false
  stop_on_error = true

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  time = true

[misc]
  clean_on_exit = false

[screen]
  clear_on_rebuild = false
