# See https://github.com/cosmtrek/air/blob/master/air_example.toml
# for a full list of options and explanations of configuration options.
root = "."
tmp_dir = "tmp"

[build]
  bin = "./tmp/hubro"
  cmd = "go build -o ./tmp/hubro . && bin/tailwindcss -i assets/css/app.css -o static/app.css"
  delay = 1000
  include_ext = ["go", "gohtml", "json"]
  exclude_dir = ["tmp"]
  exclude_regex = ["\\.?#.+", ".+~"]
  exclude_unchanged = false
  kill_delays = "0s"
  send_interrupt = false
  stop_on_error = true

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  time = true

[misc]
  clean_on_exit = false

[screen]
  clear_on_rebuild = false
