<footer class="z-20 mt-4 dark:bg-slate-900 bg-indigo-950 text-center text-white">
	<p>&copy; 2025 {{ getConfig.AuthorName }}</p>
	<p>Powered by 🦉<a href="https://github.com/sokkalf/hubro">Hubro</a></p>
</footer>
