<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{ .Description }}" />
<meta property="og:image" content="{{ baseURL }}{{ staticPath "images/ugle-z.svg" }}" />
<meta property="og:url" content="{{ baseURL }}" />
<meta property="og:type" content="{{ openGraphType }}" />
<meta property="og:site_name" content="{{ appTitle }}" />
