<div class="bg-indigo-950 topnav z-1">
	<a data-hx-boost="true" href="/">{{ appTitle }}</a>
	{{ range listPages "pages" "" }}
		{{ if not .Visible }}
			{{ continue }}
		{{ end }}
		<a data-hx-boost="true" href="{{ rootPath }}{{ .Path }}">{{ .Title }}</a>
	{{ end }}
	<!-- Stuff on the right side -->
	<div class="h-6 topnav-right">
		<p class="rounded-full bg-blue-200 px-2 py-1">{{ getConfig.Version }}</p>
	</div>
</div>
