<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Admin - {{ appTitle }}</title>
  <script src="{{ appJS }}"></script>
  <script defer src="{{ vendor "alpine.js" }}"></script>
  <link href="{{ appCSS }}" rel="stylesheet">
</head>
<body class="bg-gray-100 dark:bg-slate-900">
	{{ template "partials/_topbar" . }}
	<main data-x-data="{}" class="px-2 py-2 main-content md:ml-[250px]">
		{{yield}}
	</main>
	{{ template "partials/_footer" . }}
	<script>
		window.HubroInit();
	</script>
</body>
</html>
