<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ .Title }} - {{ appTitle }}</title>
  <script src="{{ vendor "htmx" }}"></script>
  <script src="{{ vendor "highlight.js" }}"></script>
  <script defer src="{{ vendor "alpine.js" }}"></script>
  {{ if getConfig.FeedsEnabled }}
  <link rel="alternate" type="application/rss+xml" title="{{ appTitle }}" href="{{ rootPath }}/feeds/rss" />
  <link rel="alternate" type="application/atom+xml" title="{{ appTitle }}" href="{{ rootPath }}/feeds/atom" />
  {{ end }}
  <link href="{{ appCSS }}" rel="stylesheet">
</head>
<body class="bg-gray-100">
	{{ template "partials/_topbar" . }}
	{{ template "partials/_sidebar" . }}
	<main class="px-2 py-2 main-content">
		{{yield}}
	</main>
	{{ template "partials/_footer" . }}
	<script>
		function highlightNewCodeBlocks() {
			document.querySelectorAll('pre code:not(.hljs)').forEach(function (el) {
				hljs.highlightElement(el);
			});
		}
		highlightNewCodeBlocks();
	</script>
</body>
</html>
