<div class="mx-auto max-w-full rounded-lg bg-white p-6 shadow dark:bg-slate-900 text-gray-500 dark:text-gray-300">
	<h1 class="text-2xl">{{ .Entry.Title }}</h1>
	<textarea id="editor" onkeydown="sendMarkdown();" class="w-full h-96 bg-slate-900 text-gray-200">{{ .RawContent }}</textarea>
	<div class="w-full h-96 markdown-body" id="markdown-preview"></div>
</div>
