<div class="mx-auto max-w-full rounded-lg bg-white p-6 shadow dark:bg-slate-900 text-gray-500 dark:text-gray-300">
	{{ range . }}
		{{ $name := .GetName }}
		<p>{{ $name }}</p>
		<div class="ml-4">
			<ul class="list-item">
				{{ range .GetEntries }}
				<li><a href="{{ rootPath }}/admin/edit?idx={{ $name }}&p={{ .Slug }}">{{ .Title }}</a></li>
				{{ end }}
			</ul>
		</div>
	{{ end }}
</div>
